@import "lib";

.workout-summary-data {
  list-style: none;

  &.workout-summary-data--total {
    margin-bottom: $spacing;

    @media screen and (min-width: $bp-medium-wide) {
      margin-bottom: $spacing-medium;
    }
  }
}

.workout-summary-data__item {
  background-color: $color-gray-1;
  border-radius: 6px;
  border: 1px solid $color-gray-2;
  padding: $spacing-medium;

  .workout-summary-data--total & {
    background-color: $color-blue-1;

    .heading {
      margin-bottom: 0;
      color: $color-white;
    }

    @media screen and (min-width: $bp-extra-wide) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .workout-summary-data--activity & {
    .heading {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.workout-summary__multisport {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing;
}

.workout-summary__toggle {
  @include font-size(14px);
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid $color-gray-3;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .25px;
  padding: $spacing $spacing-medium;
  text-indent: .25px;
  text-transform: uppercase;

  &.is-active {
    background-color: $color-blue-1;
    color: $color-white;
    border-color: $color-blue-1;
  }
}

.workout-summary__date-picker {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $bp-medium-wide) {
    flex-direction: row;
  }

  .react-datepicker-wrapper {
    &:first-child {
      margin-bottom: $spacing;

      @media screen and (min-width: $bp-medium-wide) {
        margin-bottom: 0;
        margin-right: $spacing;
      }
    }
  }
}

.workout-summary__date-picker-input {
  @include font-size(16px);
  background-color: $color-gray-1;
  border-radius: 3px;
  border: 1px solid $color-gray-3;
  color: $color-black;
  max-width: 100%;
  padding: $spacing;
  width: 100%;
}
